.geocodedSearchResults li {
    cursor: pointer;
    font-weight: bold;
    font-size: 120%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editableMap {
	display: block;
	height: 300px;
	width: 700px;
	float: none;
}